.main {
    margin-top: 134px;
    margin-left: 79px;
    margin-right: -7px;
    height: 510px;
    width: auto;
    border: 1px solid red;
    overflow-x: scroll;  /**displays the horizontal scroll bar*/
    overflow-y: hidden; /*hides the vertical scroll bar*/
    white-space: nowrap;
    box-shadow: 20px 2px 76px 51px rgba(0, 0, 0, .2); /**shadow around the content*/
}

.section-info {
    border: 1px solid blue;
    width: 720px;
    height: 100%;
    margin-left: -4px;
    /*background: rgba(255, 0, 0, 0.1);*/
    display: inline-block;
}    


.header-text {
    position: absolute;
}

/****FIRST SECTION ITEM*****/

.header-img {
    position: absolute;
    width: 602px;
    height: 395px;
    top: 20px;
    left: -245px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.header-text1 {
    position: absolute;
    top: 97px;
    left: 272px;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color: #f7f7f7;
}

.hr-class {
    position: absolute;
    top: 242px;
    left: 272px;
    width: 40px;
    border-top: 1px solid #f7f7f7;
}

.paragraph-text1 {
    position: absolute;
    top: 260px;
    left: 272px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
    line-height: 170%;
}

.link-decoration {
    /*text-decoration: none;*/
    color: #f7f7f7;
}

.gradient1 {
    position: relative;
    background-color: #e37b7c;
    background-image: url(../images/overlay.png), linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4 );
    background-image: -moz-linear-gradient();
    background-image: -o-linear-gradient();
    background-size: 128px 128px, auto;
}

 /*****LAST SECTION ITEM*****/
 

 
/***ABOUT ME SECTION CSS****/


.gradient2 {
    background-color: #726193;
   /** background: -webkit-linear-gradient( 45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(227, 123, 124, 0.25) 50%
        45deg, rgba(315, -93, 363, 0.25) 29%, rgba(275, 84, 188, 0.25) 102%, rgba(227, 123, 276, -1.75) 143%
    );**/
    background-image: url(../images/overlay.png), -webkit-linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
    position: relative;
}


.second-second-header {
    position: absolute;
    font-family: 'Raleway';
    color: #f7f7f7;
    top: 128px;
    left: 248px;
    font-size: 35px;
}

.section2-img {
    object-fit: cover; 
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.about-hr {
    position: absolute;
    top: 206px;
    left: 248px;
    width: 40px;
    border-top: 1px solid #f7f7f7;
}

.about-me-text{
    position: absolute;
    top: 216px;
    left: 248px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #f7f7f7;
    line-height: 170%;
}
/***LAST SECTION SECTION CSS****/


/******SKILLS SECTION CSS*******/
.skills-info {
    border: 1px solid blue;
    width: 1000px;
    height: 100%;
    margin-left: -4px;
    /*background: rgba(255, 0, 0, 0.1);*/
    display: inline-block;
}    

.gradient3 {
    background-color: #726193;
    background-image: url(../images/overlay.png), -webkit-linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
    background-size: 128px 128px, auto;
    position: relative;
}

.skills {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    top: 10px;
    float: left;
    left: 50px;
    margin-left: 3.5%;
    margin-right: 3.5%;
    font-family: 'Raleway', sans-serif;
}

 .skills ul {
    list-style: none;
}

.skills-li {
    color: rgba(255, 255, 255, 0.65);
    /*font-size: 20px;*/
}

.skills .skills-list {
    color: #f7f7f7;
}

.skills-header {
    text-align: center;
    color: #f7f7f7;
}

.misc-skills{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    float: left;
}

.test:after {
  content: "";
  display: block;
  clear: both;
}



.meter { 
	height: 9px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 7px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3); 
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

/******LAST SKILL SECTION CSS*******/



/**************PROJECTS SECTION CSS*******************/
.projects-section {
    border: 1px solid blue;
    width: 2035px;
    height: 100%;
    margin-left: -4px;
    /*background: rgba(255, 0, 0, 0.1);*/
    display: inline-block;
}    

.gradient4 {
    background-color: #726193;
    background-image: url(../images/overlay.png), -webkit-linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));
    background-size: 128px 128px, auto;
    position: relative;
}

.project-header {
    position: absolute;
    top: 229px;
    left: 37px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: #f7f7f7;
    text-shadow: 4px 2px 1px #2d2e30;
}

.project-hr{
    position: absolute;
    top: 310px;
    left: 37px;
    width: 40px;
    border-top: 1px solid #f7f7f7;
}

.project-me-text{
    position: absolute;
    top: 317px;
    left: 37px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
    line-height: 160%;
}

.project-section1 {
    position: absolute;
    width: 400px;
    left: 194px;
    top: 25px;
}

.project1 {
    border: 1px solid black;
    width: 500px;
    height: 450px;
    float: left;
    position: relative;
    left: 350px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 160%;
    color: #f7f7f7;
    margin-top: 17px;
    margin-right: 1.5%;
}

.project1-hr {
    position: absolute;
    top: 206px;
    left: 37px;
    width: 40px;
    border-top: 1px solid #f7f7f7;
}

.project1 p {
    color: rgba(255, 255, 255, 0.65);
}


/******END OF PROJECTS SECTION CSS******/


/*CONTACT TEXT*/
.contact-text {
    border: 1px solid blue;
    width: 300px;
    height: 100%;
    margin-left: -4px;
    display: inline-block;
}    
/*END OF CONTACT TEXT*/



/*CONTACT FORM*/
.contact-info {
    border: 1px solid blue;
    width: 1040px;
    height: 100%;
    margin-left: -4px;
    /* background: rgba(255, 0, 0, 0.1); */
    display: inline-block;
}    

.contact-header {
    position: absolute;
    top: 134px;
    left: 37px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    color: #f7f7f7;
    text-shadow: 4px 2px 1px #2d2e30;
}

.hr-contact {
    position: absolute;
    top: 198px;
    left: 39px;
    width: 40px;
    border-top: 1px solid #f7f7f7;
}

.contact-paragraph {
    position: absolute;
    top: 212px;
    left: 39px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
}

.googlemap {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    position: relative;
    top: 80px;
    left: 585px;
}

.gradient6 {
    position: relative;
    background-color:#353865;
    /*background: -webkit-linear-gradient(45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(255, 228, 180, 0.25));*/
    background-image: url("../images/overlay.png"), linear-gradient(
    45deg, 
    rgba(114, 97, 147, 0.25) 25%, 
    rgba(227, 123, 124, 0.25) 50%, 
    rgba(255, 228, 180, 0.25));
} 

.name-label {
    position: relative;
    top: 89px;
    right: -39px;
    font-weight: bold;
    font-family: 'Noto Sans';
    color: rgba(255, 255, 255, 0.875);
}

.label {
    position: relative;
    top: 40px;
    left: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.input-label {
    position: relative;
    top: 100px;
    left: 39px;
    background-color: rgba(0,0,0,0);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    width: 30%;
    padding: 12px 20px;
}


.label2{
    position: relative;
    top: 35px;
    left: 300px;
    width: 31%;
    background-color: rgba(0,0,0,0);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    padding: 12px 20px;
}

.email-label2 {
    position: relative;
    top: 26px;
    right: -300px;
    font-weight: bold;
    font-family: 'Noto Sans';
    color: rgba(255, 255, 255, 0.875);
}


.textarea-label {
    position: relative;
    top: 96px;
    right: 211px;
    font-weight: bold;
    font-family: 'Noto Sans';
    color: rgba(255, 255, 255, 0.875);
}

.label3 {
    position: relative;
    left: 35px;
    top: 91px;
    height: 150px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.input-label:focus, .label2:focus, .label3:focus {
    outline-color: #ffe4b4;
    border-color: #ffe4b4;
}



.contact-button {
    border-radius: 8px;
    box-shadow: none;
    padding: 13px;
    text-transform: uppercase;
    background-color:white;
    transition: background-color 0.7s ease;
    position: relative;
    top: 142px;
    right: 476px;
    font-family: 'Noto Sans';
    font-weight: bold;
}

.contact-button:hover {
    background-color: #ffe4b4;
}

.contact-container {
    position: absolute;
}

.row1 {
    border: 1px solid black;
    position: relative;
    float: left;
}


/*VERTICAL RULE CSS*/
.vertical-rule {
    height: 422px;
    border-right: 2px solid rgba(255, 255, 255, 0.25);
    width: 75px;
    position: relative;
    top: -313px;
    left: 752px;
}
/*END OF VERTICAL RULE CSS*/


/*SOCIAL MEDIA LINKS*/
.inner-media-links {
    list-style: none;
    position: relative;
}

.fa-icons {
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgba(255, 255, 255, 0.875);
}

.media-links {
    /* border: 1px solid black; */
    /* width: 181px; */
    /* height: 220px; */
    /* float: right; */
    position: absolute;
    left: 808px;
    font-family: 'Raleway', sans-serif;
    /* font-size: 14px; */
    /* line-height: 160%; */
    color: #f7f7f7;
    bottom: 405px;
}

.social-icon {
    padding-left: 7px;
    font-size: 15px;
    font-family: 'Noto Sans';
    color: rgba(255, 255, 255, 0.45);
    text-decoration: none;
}

.social-icon:hover {
    color: #ffe4b4;
     transition-duration: .50s;
}
/*END OF SOCIAL MEDIA LINKS*/

/*END OF CONTACT FORM*/





.gradient5 {
    position: relative;
    background-color: #726193;
    background: -webkit-linear-gradient( /*45deg, rgba(114, 97, 147, 0.25) 25%, rgba(227, 123, 124, 0.25) 50%, rgba(227, 123, 124, 0.25) 50%*/
        45deg, rgba(315, -93, 363, 0.25) 29%, rgba(275, 84, 188, 0.25) 102%, rgba(227, 123, 276, -1.75) 143%
    );
    background-size: 128px 128px, auto;
    background: -moz-linear-gradient();
    background: -o-linear-gradient();
    background: linear-gradient();
}



/*.list-item {*/
/*  width: 200px;*/
/*  height: 100%;*/
/*  background: rgba(255, 0, 0, 0.1);*/
/*  margin-left: 10px;*/
/*  display: inline-block;*/
/*}*/

/*.scroll { */
/*  height: 100vh;*/
/*  overflow-x: scroll;*/
/*  overflow-y: hidden;*/
/*  white-space: nowrap;*/
/*  width: auto;*/
/*}*/

/*

FONTS

font-family: 'Raleway', sans-serif;
font-family: 'Noto Sans', sans-serif;

*/